dconf
enchant
gedit
libreoffice
polybar
stardict
terminator
vlc

ranger/*.py
ranger/*.sh
ranger/rifle.conf

qutebrowser/bookmarks
qutebrowser/qsettings
qutebrowser/*.yml
qutebrowser/*.css

i3/*.png

vim/swap
vim/.*
*.swp

gtk*

user-*
ibus/
