ranger
dconf
enchant
gedit
libreoffice
polybar
stardict
terminator
vlc

qutebrowser/bookmarks
qutebrowser/qsettings
qutebrowser/*.yml
qutebrowser/*.css

i3/*.png

vim/swap
vim/view
vim/.*
*.swp

gtk*

user-*
ibus/

htop/
pulse/

compiz-1
evolution
libaccounts*
nautilus
unity

Slack
discord
gnome*

vim/view/
