ranger
dconf
enchant
gedit
libreoffice
polybar
stardict
terminator
vlc

qutebrowser/bookmarks
qutebrowser/qsettings
qutebrowser/*.yml
qutebrowser/*.css

i3/*.png

vim/swap
vim/view
vim/.*
*.swp

gtk*

user-*
ibus/

htop/
pulse/

compiz-1
evolution
libaccounts*
nautilus
unity

Slack
discord
gnome*

configstore
vim/view
vim/plugged

QtProject.conf
VirtualBox/
xi/

shell.nix
.envrc

.idea/
Dockerfile

.dart_tool/
.packages
build/
pubspec.lock
doc/api/

.cache
dist/

*.log

hedera.egg-info/

dump.rdb
hedera-portal_api

bin/
.settings
.classpath
.project

generated.bin
.env

client-config.json
target/

exploit.js
.vim/plugged
