# main with args
snippet mainarg
	int main(int argc, char * argv[]){
		${0}
		return 0;
	}
# main void
snippet mainvoid
	int main(void){
		${0}
		return 0;
	}
# for loop
snippet for
	for(${1}){
		${0}
	}
# while loop
snippet while
	while(${1}){
		${0}
	}
# include
snippet include
	#include <${1:header}.h>${0}

# print with a \n at the end
snippet println
	printf("${0}\n");
