# document class
snippet dc
	\\documentclass[${1:options}]{${2:class}} ${0}

# begin document 
snippet begin 
	\\begin{${1:env}}
		${0}
	\\end{$1}

# usepackage
snippet up
	\\usepackage[${1:options}]{${2:package}} ${0}
# cite
snippet cite
	\\cite{${2:article}}${0}
